.chart-series-line{
}

.default-color0.chart-series-line{-fx-stroke: #29B6F6;}
.default-color0.chart-line-symbol{-fx-background-color: #29B6F6, #ffffff;}
.default-color1.chart-series-line{-fx-stroke: #f0e68c;}
.default-color1.chart-line-symbol{-fx-background-color: #f0e68c, #ffffff;}
.default-color2.chart-series-line{-fx-stroke: #008000;}
.default-color2.chart-line-symbol{-fx-background-color: #008000, #ffffff;}
.default-color3.chart-series-line{-fx-stroke: #4B0082;}
.default-color3.chart-line-symbol{-fx-background-color: #4B0082, #ffffff;}
.default-color4.chart-series-line{-fx-stroke: #FFFF00;}
.default-color4.chart-line-symbol{-fx-background-color: #FFFF00, #ffffff;}
